<div class="panel panel-default">
  <div class="panel-heading">
    <div class="title">
    <%= card.escape("title") %>
  </div>
  </div>
  <div class="panel-body">
      <%= card.escape("description") %>
  </div>
</div>