
<form role="form">
  <div class="form-group">

  <label for=board[title]>Board Title</label>
    <input type="text" class="form-control"
    name="board[title]" id="board[title]"
    placeholder="Title">


</div>
  <button type="submit"
  class="btn btn-primary">Create Board</button>      
  
</form>
