
<form role="form">
  <div class="form-group">

  <label for=board[title]>Board Title</label>
    <input type="text" class="form-control"
    name="board[title]" id="board[title]"
    placeholder="Title">
    
    <label for=board[ord]>Order</label>
    <input type="text" name="board[ord]" 
    class="form-control" id="board[ord]" 
    placeholder="0">


  <button type="submit"
  class="btn btn-danger">Create Board</button>      
</form>
