<h3><%= board.escape("title") %></h3>
<div>
    <% board.lists().each(function(list){ %>
    <div id="<%= list.escape("id") %>">
      <%= list.escape("title") %>
    </div>
  <% });%>

</div>


<a href="#">Return to boards</a>


