<h3><%= board.escape("title") %></h3>

<div class="lists sortable col-xs-9"></div>

<div class=" col-xs-3">
  <div class="well lists-new"> </div>
  <div class="btn-group-vertical">
    <a href="/#/">
      <button type="button" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left"></span>
         Return to Boards
      </button>  
    </a>
  
   <a href="/#/">
     <button type="button" class="destroy-board btn btn-primary">
       <span class="glyphicon glyphicon-remove"></span>
       Delete Board
     </button>
   </a>

</div>
  
</div>
  <!-- <div class="boards-new"></div> -->


