<form>
  
  <input type="hidden" 
  name="list[board_id]" 
  value="<%= list.escape("id") %>">
  
  <label> Title
    <input type = "text" name="list[title]" id="list[title]">
  </label>    
  <input type="submit">      
  
</form>
