<form role="form">
  <div class="form-group">
  
  <input type="hidden" 
  name="list[board_id]" 
  value="<%= list.escape("id") %>">
  
  <label for="list[title]">List</label>
    <input type="text" class="form-control"
    name="list[title]" id="list[title]"
    placeholder="Enter Title">
    
  </div>
  <button type="submit" class="btn btn-primary">Create List</button>

</form>
