<button type="button" class="btn boardTile btn-primary">
  <%= list.escape("title") %>
  <div class="items"></div>
  <button type="button" class="btn btn-danger destroy-list">
    Delete</button>    
</button>