<div class="well col-xs-4">
<!-- <button type="button" class="btn boardTile btn-primary btn-block"> -->

  <%= list.escape("title") %>
  <div class="cards"></div>
  <div class="cards-new"></div>
  <button type="button" class="btn btn-danger destroy-list col-xs-8">
    Delete</button>
  </button>
</div>